/obj
/bin
/BUILD
EITD.layout
EITD.depend
.vscode/ipch/
.vs
.vs/
BUILD
/build64
win32
/warnings.osx.log
/logmake
desktop.ini
eitd.exe
inthedark.exe
ditd.elf
lib_linux
obj_linux
obj_bsd
obj_build
BUILD
build2
build3
build64
releases
backups
/src/gitinfo.h
stash
/cmake-build-debug
/cmake-build-release
/.idea